/* this css file is created to make changes that cannot be done with tailwind. */


.react-player iframe{
    position: relative;
    z-index: 10 !important;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    margin-block: 10px;
}

::-webkit-scrollbar-thumb {
    background: #353535;
    border-radius: 4px; 
    border:solid 2px #262626;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a5a5a;
}
